<p id="notice"><%= notice %></p>

<!-- <main class="header-container">
  <header>
    <h2>Communicant</h2>
  </header>
  <nav class="header-navig">
    <section class="tabs-header">
        <a href="#">Expenses</a>
        <a href="#">Inbox</a>
        <a href="#">Calendar</a>
        <a href="#">Information</a>
      <section class="tabs-right">
        <a class="header-profile" href="#">Profile</a>
        <a class="header-log-out" href="#">Log out</a>
      </section>
   </section>
  </nav> -->
</main>
<h1 class="profile-m-header">Cases</h1>
<div class="new-profile">
<%= link_to 'New Profile', new_profile_path %>
</div>

<table class="profile-m-table">
  <thead class="profile-m-thead">
    <tr class="profile-m-title-row">
      <th>Name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Child name</th>
      <th>Case #</th>
      <th>Mediator name</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>
<!-- <%# link_to event.title, event %> -->
  <tbody class="profile-m-body-table">
    <% @profiles.each do |profile| %>
      <tr class="profile-m-main-table">
        <td class="profile-name"><%= link_to profile.name, profile %></td>
        <td class="profile-email"><%= profile.email %></td>
        <td class="profile-phone"><%= profile.phone_number %></td>
        <td class="profile-child"><%= profile.child_name %></td>
        <td class="profile-case"><%= profile.case_number %></td>
        <td class="profile-mediator"><%= profile.mediator_name %></td>
        <!-- <td class="profile-m-show"><%# link_to 'Details', profile %></td> -->
        <!-- <td class="profile-m-edit"><%# link_to 'Update', edit_profile_path(profile) %></td> -->
        <!-- <td class="profile-m-delete"><%# link_to 'Delete', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
