<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @profile.phone_number %>
</p>

<p>
  <strong>Child name:</strong>
  <%= @profile.child_name %>
</p>

<p>
  <strong>Case number:</strong>
  <%= @profile.case_number %>
</p>

<p>
  <strong>Mediator name:</strong>
  <%= @profile.mediator_name %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
