<p id="notice"><%= notice %></p>

<p>
  <strong>Case number:</strong>
  <%= @case.case_number %>
</p>

<p>
  <strong>Mediator:</strong>
  <%= @case.mediator_id %>
</p>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
