<p id="notice"><%= notice %></p>
<section class="user-container-details">
<p>
  <strong>Type:</strong>
  <%= @user.type %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Case number:</strong>
  <%= @user.case_number %>
</p>

<p>
  <strong>Case:</strong>
  <%= @user.case_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class:"user-edit" %>
<%= link_to 'Back', users_path, class:"user-back" %>
</section>
