<section class="costs-container">

  <p id="notice"><%= notice %></p>

  <h1 class="costs-title">Listing Costs</h1>

  <table class="costs-table">
    <thead>
      <tr>
        <th class="costs-col">Title</th>
        <th class="costs-col">Due</th>
        <th class="costs-col">Amount</th>
        <th class="costs-col">Parent</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @costs.each do |cost| %>
        <tr>
          <td class="costs-data"><%= cost.title %></td>
          <td class="costs-data"><%= cost.due %></td>
          <td class="costs-data"><%= cost.amount %></td>
          <td class="costs-data"><%= cost.parent_id %></td>
          <td class="costs-edit"><%= link_to 'Show', cost %></td>
          <td class="costs-edit"><%= link_to 'Edit', edit_cost_path(cost) %></td>
          <td class="costs-edit"><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table><!--.costs-table-->

  <br>

  <%= link_to 'New Cost',class: 'new-cost', new_cost_path %>

</section><!--.costs-container-->
