
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section class="update-event-container">

  <!-- <div class="field">
    <%= f.label :title, class:"update-title-label" %>
    <%= f.text_field :title, class:"update-title-field" %> -->
  <!-- </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, class:"update-description-field" %>
  </div> -->
  <select class="new-event-select" name="new event">
    <option value="">Select your event</option>
    <option value="">Birthday party</option>
    <option value="">Doctor's appointment</option>
    <option value="">Dentist's appointment</option>
    <option value="">After School music class</option>
    <option value="">After School sport practice</option>
    <option value="">After school other activity</option>
    <option value="">Play date</option>
  </select>
  <div class="field">
    <%= f.label :date, class:"update-date-label" %>
   <%= f.date_field :date, class:"update-date" %>
  </div>
  <div class="field">
    <%= f.label :time, class:"update-time-label" %>
    <%= f.time_field :time, class:"update-time" %>
  </div>
  <!-- <div class="field">
    <%# f.label :parent_id %>
    <%# f.number_field :parent_id, class:"update-parent" %>
  </div> -->
  <div class="field">
    <%= f.label :child_id %>
    <%= f.number_field :child_id, class:"update-child" %>
  </div>
  <div class="field">
   <%= f.label :location, class:"update-location-label" %>
   <%= f.select("location",  @event_locations, {:include_blank => "Please select a location"}) %>
 </div>
  <!-- <div class="field">
    <%= f.label :mediator_id %>
    <%= f.number_field :mediator_id, class:"update-mediator" %>
  </div> -->
  <!-- <div class="field">
    <%# f.label :approval, class:"update-approval" %>
    <%# f.check_box :approval %>
  </div> -->
  <div class="actions">
    <%= (f.submit class:"update-create") %>
  <%# link_to 'Details', @event, class:"update-details" %>
  <%= link_to 'Back', events_path, class:"update-back" %>
 </div>
<% end %>
</section>
