
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section class="update-event-container">

  <div class="field">
    <%= f.label :event %>
    <%= f.select("title", @event_titles, {:include_blank => "Please select an event"})%>
  </div>
  <div class="field">
    <%= f.label :date, class:"update-date-label" %>
    <%= f.date_select :date, class:"update-date" %>
  </div>
  <div class="field">
    <%= f.label :time, class:"update-time-label" %>
    <%= f.time_select :time, class:"update-time" %>
  </div>
  <div class="field">
    <%= f.label :parent_id %>
    <%= f.number_field :parent_id, class:"update-parent" %>
  </div>
  <div class="field">
    <%= f.label :child %>
    <%= collection_select(:event, :child_id, Child.all, :id, :first_name, {:prompt => 'Please select A Child'}) %>
  </div>
  <div class="actions">
    <%= (f.submit class:"update-submit") %>
  </div>

  <%= link_to 'Details', @event, class:"update-details" %>
  <%= link_to 'Back', events_path, class:"update-back" %>

<% end %>
</section>
