
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section class="update-event-container">

  <!-- <select class="new-event-select" name="new event">
    <option value="">Select your event</option>
    <option value="">Birthday party</option>
    <option value="">Doctor's appointment</option>
    <option value="">Dentist's appointment</option>
    <option value="">After School music class</option>
    <option value="">After School sport practice</option>
    <option value="">After school other activity</option>
    <option value="">Play date</option>
  </select> -->
  <div class="field">
   <%= f.label :title %>
   <%= f.select(:title, options_for_select([['Select your event', 1], ['Birthday party', 2], ["Doctor's appointment", 3],['Dentist\'s appointment', 4],['After School music class', 5],['After School sport practice', 6]])) %>
 </div>
  <div class="field">
    <%= f.label :date, class:"update-date-label" %>
    <%= f.date_select :date, class:"update-date" %>
  </div>
  <div class="field">
    <%= f.label :time, class:"update-time-label" %>
    <%= f.time_select :time, class:"update-time" %>
  </div>
  <div class="field">
    <%= f.label :parent_id %>
    <%= f.collection_select(:parent_id, User.where(id: session[:user_id]), :id, :first_name, {prompt: "Select Parent"}) %>
  </div>
  <!-- <div class="field">
    <%# f.label :child_id %>
    <%# f.collection_select (:child_id, Child.where(){prompt: "Select Child"}) %>
  </div> -->
  <div class="actions">
    <%= (f.submit class:"update-submit") %>
  </div>

  <%= link_to 'Details', @event, class:"update-details" %>
  <%= link_to 'Back', events_path, class:"update-back" %>

<% end %>
</section>
