


<p id="notice"><%= notice %></p>

<h1 class="events-header">Your Upcoming Events</h1>

<div class="new-event"><%=link_to 'Add New Event', new_event_path %></div>


<table class="events-table">
  <thead class="events-thead">
    <tr class="events-title-row">
      <th>Event</th>
      <!-- <th>Description</th> -->
      <th>Date</th>
      <!-- <th>Time</th> -->
      <!-- <th>Parent</th> -->
      <th>Child</th>
      <!-- <th>Mediator</th> -->
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="events-body-table">
    <% @events.each do |event| %>
      <tr class="events-main-table">
        <td class="title"><%= link_to event.title, event %></td>
        <!-- <td class="descrip"><%# event.description %></td> -->
        <td class="date"><%= event.date %></td>
        <td class="time"><%= event.time.strftime("%I:%M%p") %></td>
        <td class="parent"><%= event.user[0][:first_name] %></td>
        <td class="child"><%= event.child_id %></td>
        <td class="mediator"><%= event.mediator %></td>
        <td class="pending"><button type="button" name="button">Pending</button></td>
        <!-- <td class="events-show"><%# link_to 'Details', event %></td> -->
        <!-- <td class="events-edit"><%# link_to 'Update', edit_event_path(event) %></td> -->
        <!-- <td><%# link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>


    <% end %>
  </tbody>
</table>

<br>

<!-- <%# link_to 'New Event', new_event_path %> -->
