

<p id="notice"><%= notice %></p>

<h1 class="events-header">Your Upcoming Events</h1>

<div class="new-event"><%=link_to 'Add New Event', new_event_path %></div>


  <ul class="events-body-table">
    <% @events.each do |event| %>
      <li class="events-main-table">


        <div class="title">
          <i class="fa fa-arrow-right"></i>
          <%= link_to event.title, event %>
        </div>
        <div class="child">
          <i class="fa fa-child"></i>
         <%= grab_child %>

          <!-- <%# event.child.find(1).first_name %> TODO: Figure out why I can't access Child info -->
        </div>
        <!-- <td class="descrip"><%# event.description %></td> -->
        <div class="date">
          <i class="fa fa-calendar"></i>
          <%= event.date %>
        </div>
        <div class="time">
          <i class="fa fa-clock-o">
          </i><%= event.time.try(:strftime, "%I:%M%P") %>
        </div>
        <div class="location">
          <i class="fa fa-location-arrow"></i>
          <%= event.location %>
        </div>

        <!-- <td class="parent">Mom<%# event.parents.try(:first).try(:first_name) %></td> -->
        <!-- <td class="pending"><button type="button" name="button">Pending</button></td> -->
    <% end %>
  </li>
</ul>
