<p id="notice"><%= notice %></p>

<h1 class="events-header">Your Upcoming Events</h1>

<div class="new-event"><%=link_to 'Add New Event', new_event_path(user_id: @logged_in_user.id) %></div>


  <ul class="events-body-table">
    <% @events.each do |event| %>
      <li class="events-main-table">

        <div class="title">
          <i class="fa fa-arrow-right"></i>
          <%= link_to event.title, event %>
        </div>
        <div class="child">
          <i class="fa fa-child"></i>

          <% if event.child_id %>
          <%= Child.find(event.child_id).first_name %>
          <% end %>
        </div>
        <div class="date">
          <i class="fa fa-calendar"></i>
          <%= event.date %>
        </div>
        <div class="time">
          <i class="fa fa-clock-o">
          </i><%= event.time.try(:strftime, "%I:%M%P") %>
        </div>
        <div class="location">
          <i class="fa fa-location-arrow"></i>
          <%= event.location %>
        </div>
        <div>
          <% if event.has_been_approved? == false %>
            <% if @logged_in_user.id == event.user_id || @logged_in_user.id == event.mediator_id %>
              Pending Approval
            <% elsif @logged_in_user.id == event.parent_id %>
              <button type="button"><%= link_to 'Approve', approvals_path(approval:
              {event_id: event.id, parent_id: @logged_in_user.id, parent_approval: true}), method: :post %>
              </button>
            <% end %>
          <% else %>
              APPROVED
          <% end %>
        </div>
    <% end %>
    <%= will_paginate @events %>

  </li>
</ul>
