<main class="header-container">
  <header>
    <h2>Communicant</h2>
  </header>
  <nav class="header-navig">
    <section class="tabs-header">
        <a href="#">Expenses</a>
        <a href="#">Inbox</a>
        <a href="#">Calendar</a>
        <a href="#">Information</a>
      <section class="tabs-right">
        <a class="header-profile" href="#">Profile</a>
        <a class="header-log-out" href="#">Log out</a>
      </section>
   </section>
  </nav>
</main>


<p id="notice"><%= notice %></p>

<section class="event-container">

<p class="new-event-title">
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p class="new-event-descrip" >
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p class="new-event-date">
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p class="new-event-time">
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p class="new-event-parent">
  <strong>Parent:</strong>
  <%= @event.parent_id %>
</p>

<p>
  <strong>Child:</strong>
  <%= @event.child_id %>
</p>

<p>
  <strong>Mediator:</strong>
  <%= @event.mediator_id %>
</p>

<p>
  <strong>Pending:</strong>
  <%= @event.pending %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class:"event-edit" %>
<%= link_to 'Back', events_path, class:"event-back" %>
</section>
