<p id="notice"><%= notice %></p>

<section class="event-container">

<p class="new-event-title">
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p class="new-event-descrip" >
  <strong>Description:</strong>
  <%= @event.description %>
</p>



<p class="new-event-date">
  <strong>Date:</strong>
  <%= @event.date.strftime("%m-%e-%y") %>
</p>

<p class="new-event-time">
  <strong>Time:</strong>
  <%= @event.time.strftime("%l:%M%p") %>
</p>

<p class="new-event-parent">
  <strong>Created by:</strong>
  <%= @event.user.first_name %>
</p>

<p>
  <strong>Child:</strong>
  <%= Child.find(@event.child_id).first_name %>
</p>
<p>

  <!-- <strong>Confirmed by:</strong> -->
  <%# @approved_parents[0][:user][:first_name] %>
  <!-- <strong> At:</strong> -->
  <%# @approved_parents[0][:approved_at].strftime("%m-%e-%y %l:%M%p") %>

</p>

<%= link_to 'Edit', edit_event_path(@event), class:"event-edit" %>
<%= link_to 'Back', events_path, class:"event-back" %>
</section>
