<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @event.parent_id %>
</p>

<p>
  <strong>Child:</strong>
  <%= @event.child_id %>
</p>

<p>
  <strong>Mediator:</strong>
  <%= @event.mediator_id %>
</p>

<p>
  <strong>Pending:</strong>
  <%= @event.pending %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
