<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @payment.expense_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @payment.created_at %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @payment.created_by %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @payment.updated_at %>
</p>

<p>
  <strong>Paid at:</strong>
  <%= @payment.paid_at %>
</p>

<p>
  <strong>Paid By:</strong>
  <%= @payment.paid_by %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
