<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @expense.type %>
</p>

<p>
  <strong>Due at:</strong>
  <%= @expense.due_at %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
