
<!DOCTYPE html>
<html>
<head>
  <title>Communicant</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

<% unless request.path == root_path %>
  </head>
  <body>
    <main class="header-container">
      <header>
        <h2>Communicant</h2>
      </header>
      <nav class="header-navig">
        <section class="tabs-header">


            <%= link_to 'Expenses', expenses_path, class: "header" %>
            <%= link_to 'Inbox', messages_path, class: "header" %>
            <%= link_to 'Events', events_path, class: "header" %>
            <!-- <%# link_to 'Information', '#' %> This page still needs to be done.   -->
          <!-- <section class="tabs-right"> -->

            <%= link_to 'Profile/Dashboard', profiles_path, class: "header" %>

            <%= link_to 'Log out', root_path, class: "header-log-out" %>
          </section>
       </section>
      </nav>
    </main>

<% end %>

<%= yield %>
<%= javascript_include_tag 'application' %>



</body>
</html>
