
<!DOCTYPE html>
<html>
<head>
  <title>Communicant</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


    <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
    <% end %>

     <% unless request.path == root_path || session[:user_id] == nil %>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
  <body class="page-background">

    <main class="header-container">
      <header>
        <h2>Communicant</h2>
      </header>
      <nav class="header-navig">
        <section class="tabs-header">

            <%= link_to 'Expenses', expenses_path, class: "header head-resp" %>
            <%= link_to 'Inbox', messages_path, class: "header head-resp" %>
            <%= link_to 'Events', events_path, class: "header head-resp" %>

            <%= link_to 'Profile/Dashboard', profiles_path, class: "header head-resp" %>
            <%= link_to 'Log out', session_path(session[:user_id]), method: :delete, class: "header-log-out head-resp" %>
       </section>
      </nav>
    </main>

<% end %>

<%= yield %>




</body>
</html>
