<!DOCTYPE html>
<html>
<head>
  <title>Communicant</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

     <% unless request.path == root_path || session[:user_id] == nil %>
     <link rel="stylesheet" href="animate.min.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
  <body class="page-background">

    <main class="header-container">
      <header>
        <h2>Communicant</h2>
      </header>
      <nav class="header-navig">
        <i class="fa fa-bars"></i>

        <section class="tabs-header">

          <%= link_to 'Events', events_path, class: "header head-resp" %>
            <%= link_to 'Expenses', expenses_path, class: "header head-resp" %>
            <%= link_to 'Messages', messages_path, class: "header head-resp" %>
            <%= link_to 'Dashboard', profiles_path, class: "header head-resp" %>
            <%= link_to 'Log out', session_path(session[:user_id]), method: :delete, class: "header-log-out head-resp" %>
       </section>
      </nav>
      <script>
        $('i.fa-bars').on('click', function(){
          $('.tabs-header').addClass('show-header').removeClass('tabs-header');
          console.log("changing header")
        });
      </script>
    </main>

<% end %>

<%= yield %>


</body>
</html>
